@import 'tailwindcss';

@theme {
  --color-black: #000000;
  --color-accent: #262c37;

  --color-primary: #141414;
  --color-floor: #0a0a0a;
  --color-secondary: #6f84a2;

  --color-blur: #89b4fa;

  --max-w-card: 22rem;
}

@layer base {
  img {
    display: block;
    max-width: 100%;
  }
}

@layer components {
  .container-section {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media (min-width: 768px) {
      padding-left: 3.5rem;
      padding-right: 3.5rem;
    }

    @media (min-width: 1024px) {
      padding-left: 6rem;
      padding-right: 6rem;
    }

    @media (min-width: 1536px) {
      padding-left: 10rem;
      padding-right: 10rem;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
